<div class="myapp_form">
    <% if flash[:alert] %>
        <p id="notice"><%= flash[:alert] %></p>
    <% end %>
  
    <% if notice %>
        <p id="notice"><%= notice %></p>
    <% end %>
    <form action="/login" method="post">
        <fieldset>
            <legend>Log In</legend>
  
            <div>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" value="<%= params[:name] %>">
            </div>
  
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" value="<%= params[:password] %>">
            </div>
  
            <div>
                <input type="submit" value="Login">
            

            
                <%= link_to 'New User', new_user_path %>
            </div>
        </fieldset>
    </form>
</div>
