<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email%>
</p>

<% if @user.id != current_user.id %>
  <% if current_user.followed?(@user) %>
    <%= link_to 'Un-Follow', unfollow_user_path(@user.id)%>
  <% else %>
    <%= link_to 'Follow', follow_user_path(@user.id) %>
  <% end %>
  
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
