<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Avatar:</strong>
</p>
<p>
    <%= image_tag @user.avatar, class:"avatar-img" if @user.avatar.present? %>

</p>


<p>
  <strong>Email:</strong>
  <%= @user.email%>
</p>

<p>
  <strong>
    <% if @user.id == session[:user_id] %>
        <%= link_to 'List Favorites', user_favorite_index_path(@user.id) %>
    <% end %>
  </strong>
</p>

<p>
  <strong>
    <% if @user.id == session[:user_id] %>
      <%= link_to 'My Bookcase', user_bookcases_path(@user.id) %>
    <% end %>
  </strong>
</p>

<p>
  <strong>
    <% if @user.id == session[:user_id] %>
      <%= link_to 'List books visited', user_visiteds_path(@user.id)%>
    <% end %>
  </strong>
</p>

<p>
  <strong>
    <% if @user.id == session[:user_id] %>
      <%= link_to 'List Follower', user_followings_path(@user.id) %>
    <% end %>
  </strong>
</p>


<% if @user.id != session[:user_id] %>
  <% current_user = User.find(session[:user_id])%>
  <% if current_user.followed?(@user) %>
    <%= link_to 'Un-Follow', unfollow_user_path(@user.id)%>
  <% else %>
    <%= link_to 'Follow', follow_user_path(@user.id) %>
  <% end %>
  
<% end %>
<% if @user.id == session[:user_id]%>
  <%= link_to 'Edit', edit_user_path(@user) %> 
  <% end %>
<a href='/'>Back</a>
