<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email%>
</p>

<p>
  <strong>
    <% if @user.id == session[:user_id] %>
        <%= link_to 'List Favorites', user_favorite_index_path(@user.id) %>
    <% end %>
  </strong>
</p>

<p>
  <strong>
    <% if @user.id == session[:user_id] %>
      <%= link_to 'My Bookcase', user_bookcases_path(@user.id) %>
    <% end %>
  </strong>
</p>

<% if @user.id != session[:user_id] %>
  <% if current_user.followed?(@user) %>
    <%= link_to 'Un-Follow', unfollow_user_path(@user.id)%>
  <% else %>
    <%= link_to 'Follow', follow_user_path(@user.id) %>
  <% end %>
  
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<a href='/'>Back</a>
