<p id="notice"><%= notice %></p>



<p>
  <strong>Description:</strong>
  <%= @bookcase.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= image_tag @bookcase.image_url %>
</p>

<%= link_to 'Edit', edit_user_bookcase_path(@bookcase.user, @bookcase) %> |
<%= link_to 'Back', user_bookcases_path(@bookcase.user, @bookcase) %>
  