<h1>List book visited</h1>
<table>
    <% current_user.visiteds.ordered.each do |visited| %>
        <% product = visited.product %>
        <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
  
            <td>
                <%= link_to image_tag(product.image_url, :class => 'list-image'), product_path(product) %>
            </td>
  
            <td class="list_description">
                <dl>
                    <strong><dt><%= link_to product.title, product_path(product) %></dt></strong>
                    <dd><%= truncate(strip_tags(product.description),
                            :length => 80) %></dd>
                </dl>
            </td>
            <td>
              <%= visited.updated_at.localtime.strftime('%Y-%m-%d %H:%M:%S') %>
            </td>
        </tr>
    <% end %>
</table>