<h1>List Favorites</h1>


    <table>
    <% Favorite.where(user_id: current_user.id).each do |favorite| %>
        <% product = Product.find(favorite.product_id) %>
        <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
  
            <td>
                <%= link_to image_tag(product.image_url, :class => 'list-image'), product_path(product) %>
            </td>
  
            <td class="list_description">
                <dl>
                    <strong><dt><%= link_to product.title, product_path(product) %></dt></strong>
                    <dd><%= truncate(strip_tags(product.description),
                            :length => 80) %></dd>
                </dl>
            </td>
    
            <td class="list_actions">
                <%= link_to 'Edit', edit_product_path(product) %><br/>
                <%= link_to 'Dis Favorite', disfavorite_product_path(product),
                    data: { confirm: 'Are you sure?' } %>
            </td>
        </tr>
    <% end %>
    </table>