<%= form_with(url: products_path, :method => "get", id: 'filtered-form') do |form| %>
    <%= form.collection_check_boxes(:tag_ids, Tag.all, :id, :attribute_name) do |tag| %>
      <%= tag.label { tag.check_box } %>
      <%= tag.object.attribute_name %>
    <% end %>
    <%= form.submit("Search")%>
<% end %>
<div id = 'filtered-book'></div>

<br />
<% if current_user.id == 1 %>
<%= link_to 'New Attribute', new_tag_path %>
<% end %>
<p><%= will_paginate @products %></p>