<%= form_with(url: products_path, :method => "get", id: 'filtered-form') do |form| %>
    <%= form.collection_check_boxes(:tag_ids, Tag.all, :id, :attribute_name) do |tag| %>
      <%= tag.label { tag.check_box } %>
      <%= tag.object.attribute_name %>
    <% end %>
    <%= form.submit("Search") %>
<% end %>
<table>
    <% @filtered_products.each do |product| %>

      <% if product.public == true %>
        <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
            <td>
                <%= link_to image_tag(product.image_url, :class => 'list-image'), product_path(product) %>
            </td>
  
            <td class="list_description">
                <dl>
                    <dt><%= link_to product.title, product_path(product)%></dt>
                    <dd><%= truncate(strip_tags(product.description),
                            :length => 80) %></dd>
                </dl>
            </td>

            
    
            <td class="list_actions">
                <% if current_user.id == product.user_id %>
                <%= link_to 'Edit', edit_product_path(product) %><br/>
                <%= link_to 'Destroy', product, 
                    data: { confirm: 'Are you sure?' },
                    :method => :delete %>
                    <% end %>
            </td>
        </tr>
      <% end %>
    <% end %>
</table>
<br />
<% if current_user.id == 1 %>
<%= link_to 'New Attribute', new_tag_path %>
<% end %>
<p><%= will_paginate @products %></p>