<div class="container">
    <h1 class="title-page">PRODUCTS</h1>
    <div class="group-tabs">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="tab" data-toggle="tab" href="#home"  class="active" ><a aria-controls="home">All Product</a></li>
        <li role="tab" data-toggle="tab" href="#profile"><a  aria-controls="profile" >Science</a></li>
        <li role="tab" data-toggle="tab" href="#messages" ><a aria-controls="messages">Life</a></li>
        <li role="tab" data-toggle="tab" href="#filtered" ><a aria-controls="filtered">Filtered</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home"><%= render 'allproduct' %></div>
        <div role="tabpanel" class="tab-pane" id="profile"><%= render 'sciencebook'%></div>
        <div role="tabpanel" class="tab-pane" id="messages"><%= render 'lifebook'%></div>
        <div role="tabpanel" class="tab-pane" id="filtered"><%= render 'filtered' %></div>
      </div>
    </div>
  </div>

<script>
  $(document).ready(function() {

    $('li[data-toggle="tab"]').on('click', function(event) {
      $('li[data-toggle="tab"]').removeClass('active');
      $(event.target).parent().addClass('active');

      var tabContentId = $(event.target).parent().attr('href');
      $('.tab-content .tab-pane').removeClass('active');
      $('.tab-content ' + tabContentId).addClass('active');
    })

    $('#filtered-form').attr('data-remote', 'false')
    $('#filtered-book').prepend('<%= j(render 'filteredbook') %>')

  })
</script>