<p id="notice"><%= notice %></p>



<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= image_tag @product.image_url %>
</p>

<p>
  <strong>Cover:</strong>
  <%= image_tag @product.cover if @product.cover.present? %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>
<p>View:<%= @product.daxem %></p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
<p>
    <div>
    <% if @product.favorite_by?(current_user)%>
      <%= link_to 'Dis Favorite', disfavorite_product_path(@product), data: { confirm: 'Are you sure?' }%>
      <% else %>
      <%= link_to 'Favorite', favorite_product_path(@product)%>
      <% end %>
    </div>
</p>
<p>
  <div id='new-review'></div>
    <div>
      <%= link_to "Add Review", new_product_review_path(@product), remote: true %>
    </div>
</p>

<div class="row">

  <div class="col-md-4">



<div id='review-list'>
  <%= render @product.reviews.order('created_at desc') %>
</div>


  

  </div>
</div>
