<p id="notice"><%= notice %></p>
<p>
  <strong>Title:</strong>
  <%= @product.title %>
  
</p>


<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= image_tag @product.image_url, class: 'img-fluid' %>
</p>

<p>
  <strong>Cover:</strong>
  <%= image_tag @product.cover if @product.cover.present? %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>
<p>View:<%= @product.daxem %></p>

<% if current_user.id == @product.user_id %>
<%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-primary' %>
<% end %>
<%= link_to 'Back', products_path, class: 'btn btn-warning' %>

<p>
    <div>
    <% if @product.favorite_by?(current_user)%>
        <%= link_to 'Dis Favorite', disfavorite_product_path(@product), class: 'btn btn-secondary', data: { confirm: 'Are you sure?' }%>
      <% else %>
        <%= link_to 'Favorite', favorite_product_path(@product), class: 'btn btn-success' %>
      <% end %>
      
    </div>
</p>

<p>
  <% if current_user.id == @product.user_id %>
    
        <% if @product.public %>
             <strong>Public</strong>
             <%= link_to 'Set private', private_product_path(@product)%>
          <% else %>
            <strong>Private</strong>
            <%= link_to 'Set public', public_product_path(@product)%>
           
          <% end %>
  <% end %>
</p>

<p>
  <div id='new-review'></div>
    <div>
      <%= link_to "Add Review", new_product_review_path(@product), remote: true %>
    </div>
</p>

<div class="row">

  <div class="col-md-8">



<div id='review-list'>
  <%= render @product.reviews.order('created_at desc') %>
</div>


  

  </div>
</div>
