<p><%= review.rating %></p>
<p><%= review.comment %></p>
<%if review.user_id == current_user.id%>
    <%= link_to 'Delete',  product_review_path(@product, review), method: :delete, data: {confirm: "Are you sure?"} %>
    <%= link_to 'Edit',  edit_product_review_path(@product, review) %> 
<% end %>
<p>Like count:<%= review.like_count %></p>
<p>User name:<%= "#{review.users_like.join(', ')}" %></p>

<% if review.like_by?(current_user) %>
  <%= link_to 'DisLike', dislike_product_review_path(@product, review)  %>
<% else %>
  <%= link_to 'Like', like_product_review_path(@product, review) %>
<% end %>

<p><%= link_to 'Comment:', new_product_review_comment_path(@product, review)%></p> 

<%= render review.comments %>

<hr />
