<p>
<% if review.user.avatar.present? %>
<%= link_to image_tag(review.user.avatar, class: "avatar-comment-img"), user_path(review.user)%>
<% end %>
<%= link_to review.user.name, user_path(review.user)%> :
</p>
<p><%= review.rating %></p>
<p><%= review.comment %></p>
<%if review.user_id == current_user.id%>
    <%= link_to 'Delete',  product_review_path(@product, review), method: :delete, data: {confirm: "Are you sure?"} %>
    <%= link_to 'Edit',  edit_product_review_path(@product, review) %> 
<% end %>
<p>Like count:<%= review.like_count %></p>
<p>User name:<%= "#{review.users_like.join(', ')}" %></p>

<% if review.like_by?(current_user) %>
  <%= link_to 'DisLike', dislike_product_review_path(@product, review), class:"btn btn-light"  %>
<% else %>
  <%= link_to 'Like', like_product_review_path(@product, review), class:"btn btn-link" %>
<% end %>

<p>
  <div id='new_comment_<%= review.id %>'></div>
    <div>
      <%= link_to "Comment:", new_product_review_comment_path(@product, review), remote: true, class:"btn btn-info" %>
    </div>
</p> 
<div id='list_comment'><hr/>
<%= render review.root_comments.order('created_at desc') %>
</div>

<hr />
