<h1>List Products:</h1>
<div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div class="row">

          <% @products.each do |product| %>
            <% if product.public == true %>
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
              
                <div class="card-body">
                  <h4 class="card-title">
                    <%= link_to product.title, product_path(product) %>
                  </h4>
                  <h5><%= product.price %></h5>
                    <%= link_to image_tag(product.image_url, class: 'list-image'), product_path(product), class:"card-img-top"%>
                    <p class="card-text"><%= product.description %></p>
                </div>
                <div class="card-footer">
                    <%= button_to 'Add to Cart', line_items_path(:product_id => product) %>
                </div>
              </div>
            </div>
            <% end %>

          <%  end %>
        </div>
        <!-- /.row -->
<%= will_paginate @products, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>