<!DOCTYPE html>
<html>
  <head>
    <title>Books_Store</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="store">
    <div id="banner">
        <%= image_tag("JPD1.jpg") %>
        <%= @page_title || t('.title') %>
    </div>
    <div id="columns">
        <div id="side">
        <div id="cart">
                <%= hide_cart_if(current_cart.line_items.empty?, :id => "cart") do %>
                <p>
                  <%= render(current_cart) %> 
                </p>
                <% end %>
            </div>
            <a href="/"><%= t('.home') %></a><br />
            <%= link_to 'FAQ', faq_statics_path %>
            <br />
            <a href="#"><%= t('.news') %></a><br />
            <a href="#"><%= t('.contact') %></a><br />

            <% if session[:user_id] %>
                <br/>
                <%= link_to 'Orders', '/orders' %><br />
                <%= link_to 'Products', '/products' %><br />
                <%= link_to 'Users', '/users' %><br />
                <%= button_to 'Logout', '/logout', :method => :delete %>
                <br/>
            <% else %>
                <br/>
                <%= link_to 'Log In', login_path %><br />
            <% end %>
        </div>
        <div id="main">
            <%= yield %>
        </div>
    </div> 
</body>
</html>
